:root {
  --bvgo-ext-bg: #2c3644;
  --bvgo-ext-color: #90dfe9;
  --bvgo-ext-step-color: #90dfe9c7;
  --bvgo-ext-step-active-color: #7df0ff;
  --bvgo-ext-step-active-bg: #4a627794;
  --bvgo-ext-border-color: #4a627794;
  --bvgo-ext-section-border-color: #ffffff7a;
  --bvgo-ext-color-bright: #7df0ff;
  --bvgo-ext-color-muted: #a6b6b1;
}

.bvgo-overlay-container,
.bvgo-overlay-container * {
  box-sizing: border-box;
}

.bvgo-overlay-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  min-height: 35px;
  min-width: 150px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  top: 10px;
  transition: opacity 600ms;
  z-index: 1000000;
  background-color: var(--bvgo-ext-bg);
  color: var(--bvgo-ext-color);
  border: 1px solid var(--bvgo-ext-border-color);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.bvgo-overlay-container.inactive {
  opacity: 0.3;
}

.bvgo-overlay-titlebar {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0 5px;
  cursor: move;
  
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--bvgo-ext-border-color);
}

.bvgo-overlay-title {
  cursor: pointer;
}

.bvgo-overlay-title:hover {
  color: var(--bvgo-ext-color-bright);
}

.bvgo-overlay-content {
  flex-grow: 1;
}

.bvgo-overlay-toggle-btn {
  display: flex;
  place-items: center;
  width: 18px;
  height: 18px;
}

.bvgo-overlay-container.collapsed {
  height: 35px;
}

.bvgo-overlay-container.expanded .bvgo-overlay-toggle-btn:before {
  content: '\02212';
}

.bvgo-overlay-container.collapsed .bvgo-overlay-toggle-btn:before {
  content: '\0002B';
}

.bvgo-overlay-btn {
  display: inline-block;
  padding: 5px;
  user-select: none;

  border: 1px solid var(--bvgo-ext-border-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.bvgo-overlay-wizard-step {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;

  color: var(--bvgo-ext-step-color);
  font-weight: bold;
  border-bottom: 1px solid var(--bvgo-ext-border-color);
}

.bvgo-overlay-wizard-step.is-last-section-step:not(:last-child) {
  border-bottom-color: var(--bvgo-ext-section-border-color);
}

.bvgo-overlay-wizard-step:hover,
.bvgo-overlay-wizard-step.active {  
  color: var(--bvgo-ext-step-active-color);
  background-color: var(--bvgo-ext-step-active-bg);
}

.bvgo-overlay-wizard-step.completed {
  color: var(--bvgo-ext-color-muted);
  cursor: default;
}

.bvgo-overlay-wizard-step-title {
  flex-grow: 1;
}

.bvgo-overlay-wizard-step-modal {
  width: 10px;
  height: 10px;

  background-color: var(--bvgo-ext-color);
  border-radius: 50%;
}

.bvgo-overlay-wizard-step-modal.active {
  background-color: var(--bvgo-ext-color-bright);
  animation: fade 2s infinite;
}

.bvgo-overlay-wizard-step-modal.completed {
  background-color: var(--bvgo-ext-color-muted);
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  to {
      opacity: 1;
  }
}