:root {
  --slider-thumb-bg: #90dfe9;
  --slider-track-bg:  #90dfe9c7;
}

.slider-control {
  appearance: none;
  background: var(--slider-track-bg);
  border-radius: 8px;
  height: 8px;
  transition: all ease-in-out 2s;
}

.slider-control::-webkit-slider-thumb {
  appearance: none;
  background: var(--slider-thumb-bg);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 2s;
}